<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
</head>
<body>
<h1>An overview of our Employees</h1>
<table>
    <tr
            th:each="employee : ${employees}">
        <td th:text="${employee.getId()}"></td>
        <td th:text="${employee.getName()}"></td>
        <td th:text="${employee.getJob()}"></td>
        <td th:text="${employee.getManager()}"></td>
        <td th:text="${employee.getHireDate()}"></td>
        <td th:text="${employee.getSalary()}"></td>
        <td th:text="${employee.getComission()}"></td>
        <td th:text="${employee.getDepartment_number()}"></td>
    </tr>
</table>
</body>
</html>
